<!-- Welcome Popup -->
<div id="welcomePopup" class="popup-overlay">
  <div class="popup-content">
    <button class="close-btn" onclick="closePopup()">✖</button>
    <img src="/welcome.png" alt="Welcome to YatraBnb" class="img-fluid">
  </div>
</div>
