<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    

    <div class="alert alert-danger d-flex align-items-center justify-content-center col-md-8 col-sm-10 mx-auto text-center" role="alert">
        <i class="fas fa-exclamation-triangle fa-2x me-3"></i>
        <div>
            <h4 class="alert-heading mb-0"><%= err.message %></h4>
           

        </div>
    </div>
    
    
</div>

</div>

